<h1>Blog Posts</h1>

{{#if somethingWrong}}
    <p>something went wrong, sorry about that!</p>
{{else}}
    {{#if blogposts.length}}
        <ul>
           {{#each blogposts}}
				<li><a href="/posts/{{id}}">{{title}}</a></li>
			{{/each}}
        </ul>
        <form action="/posts/{{id}}" method="DELETE">
            <input type="integer" name="id">
            <input type="submit" value="Delete" class="btn btn-primary"/>
        </form>
    {{else}}
        <div class="empty">
            <div class="empty-icon">
                <i class="icon icon-photo"></i>
            </div>
            <p class="empty-title h2">There are no blog posts currently</p>
        </div>
    {{/if}}
{{/if}}